<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>socialBeacon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1955D7371C645AD1006C680C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1955D74B1C645AD2006C680C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1955D7561C645AD3006C680C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
